ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  .surfreport-box {
      position: relative;
    bottom: 8px;
    left: 16px;
  
  }
  .ledwall-box{
      position: relative;
    bottom: 8px;
    left: 16px;
  
  
  }
  .Calculator{ position: relative;
    bottom: 8px;
    left: 16px;
  
  
  
  }
  .pastelpuzzels{ position: relative;
    bottom: 8px;
    left: 16px;
  
  
  
  }
  .runbuddy{
      position: relative;
    bottom: 8px;
    left: 16px;
  
  }
  
  .runbuddy:hover,
  .pastelpuzzels:hover,
  .Calculator:hover,
  .surfreport-box:hover,
  .ledwall-box:hover { opacity: 1;}